<!DOCTYPE html><html lang="en-US">
{% load static %}

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>Cheque Pay - Cheque Printing Solutions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
        <meta name="description" content="Cheque Pay is a free online cheque printing software designed to accurately print on cheques of any size from any country. It is crafted to rectify cheque writing errors and meet diverse business prerequisites." />
        <link href="{% static 'Cheque_Pay_Fevi.png' %}" rel="icon shortcut" type="image/x-icon" />

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    
        <link href="/static/chkpt/assets/images/icon53bc.png?v=1.3.16" rel="apple-touch-icon" sizes="164x164" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" type="text/css" rel="stylesheet" />
    <link href="/static/chkpt/assets/css/bootstrap.min53bc.css?v=1.3.16" type="text/css" rel="stylesheet" />
    <link href="/static/chkpt/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="/static/chkpt/code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" />
                <link href="/static/chkpt/assets/css/simplelightbox/simplelightbox.min53bc.css?v=1.3.16" type="text/css" rel="stylesheet" />
                    <link href="/static/chkpt/assets/css/cslider53bc.css?v=1.3.16" type="text/css" rel="stylesheet" />
            <link href="/static/chkpt/assets/css/style53bc.css?v=1.3.16" type="text/css" rel="stylesheet" />
    <script src="/static/chkpt/assets/js/jquery-1.11.0.min53bc.js?v=1.3.16" type="text/javascript" ></script>
    
    
</head>

<body class='general-page'><div class="wrapper">    <header id="header" class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="logo">
                    <a class="" href="{% url "index" %}">
                    <img class="logo-icon logo-dark" src="/static/tabler/static/logo/Cheque-Pay-Logo-light.png" alt="Logo" /></a>
                </div>
                <nav class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a class="scrollto" href="index.html#features">Features</a></li>
                            <li class="nav-item"><a class="scrollto" href="index.html#testimonials">Testimonials</a></li>
                            <li class="nav-item"><a href="https://www.pegasustech.net/products/pegasus-softwares?product_id=103&product_type=licensed&ref_product_id=865" target="_blank">Packages</a></li>
                            <li class="nav-item"><a class="scrollto" href="#contact">Contact</a></li>
                            <li class="nav-item btn-lr"><a class="btn-login" href="{% url "login" %}">LOGIN</a></li>
                            <li class="nav-item btn-lr"><a class="btn-register" href="https://www.pegasustech.net/index.php?route=account/register">REGISTER</a></li>
                                                    </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</header>
<div class="fix-spacer"></div>    <section class="cd-hero js-cd-hero js-cd-autoplay">
    <ul class="cd-hero__slider">
        <li class="cd-hero__slide cd-hero__slide--selected js-cd-slide">
            <div class="cd-hero__content cd-hero__content--half-width">
                <h2>Online Cheque Printing and Management Software</h2>
                <p>Experience the ease and convenience of quickly writing and printing cheques!</p>
                <a href="{% url "index" %}" class="cd-hero__btn" >Get Started</a>
                <a class="cd-hero__btn cd-hero__btn--secondary scrollto" href="#features">Learn More</a>
            </div>
            <div class="cd-hero__content cd-hero__content--half-width cd-hero__content--img">
                <img src="/static/chkpt/assets/images/Dashboard.png" alt="Dashboard"/>
            </div>
        </li>
        <li class="cd-hero__slide js-cd-slide">
            <div class="cd-hero__content cd-hero__content--half-width">
                <h2>Complete Solution for Cheque Management</h2>
                <p>Access a range of reports tailored to the status of your cheques <i class="fa fa-long-arrow-right"
                                                                                       aria-hidden="true"></i> Issued,
                    Cleared, Returned, Cancelled etc...</p>
                <a class="cd-hero__btn" href="https://www.pegasustech.net/" target="_blank">Find out more</a>
                <a class="cd-hero__btn cd-hero__btn--secondary scrollto" href="#features">Learn More</a>
            </div>
            <div class="cd-hero__content cd-hero__content--half-width cd-hero__content--img">
                <img src="/static/chkpt/assets/images/Keep-an-Eye-on-Issued-Cheques.png" alt="Dashboard"/>
            </div>
        </li>
        <li class="cd-hero__slide js-cd-slide">
            <div class="cd-hero__content cd-hero__content--half-width">
                <h2>Get Ready to Print Professional Cheques</h2>
                <p>Elevate your business with Cheque Pay today – a essential tool for businesses
                    and individuals alike!</p>
                <a href="https://www.pegasustech.net/index.php?route=account/register" class="cd-hero__btn" target="_blank">Register Now</a>
                <a class="cd-hero__btn cd-hero__btn--secondary scrollto" href="#features">Learn More</a>
            </div>
            <div class="cd-hero__content cd-hero__content--half-width cd-hero__content--img">
                <img src="/static/chkpt/assets/images/Cheque-Samples.png" alt="Dashboard"/>
            </div>
        </li>
    </ul>
    <div class="cd-hero__nav js-cd-nav">
        <nav>
            <span class="cd-hero__marker cd-hero__marker--item-1 js-cd-marker"></span>
            <ul>
                <li class="cd-selected"><a href="#0">Get Started</a></li>
                <li><a href="#0">Features</a></li>
                <li><a href="#0">Register</a></li>
            </ul>
        </nav>
    </div>
</section>
<div id="about" class="about-section">
    <div class="container text-center">
        <h2 class="section-title">Why Use Cheque Pay?</h2>
        <p class="intro">In the realm of cheque printing software options, the importance of a dependable and robust
            solution cannot be overstated. Cheque Pay is meticulously crafted to rectify cheque
            writing errors and meet diverse business prerequisites.</p>
        <div class="items-wrapper row">
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="figure-holder"><i class="fa fa-anchor" aria-hidden="true"></i></div>
                    <h3 class="item-title">Web App Within Setup</h3>
                    <div class="item-desc">Cheque Pay is a web application accessible anytime,
                        anywhere with just a simple browse and a ssingle installation on a system.
                    </div>
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="figure-holder"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
                    <h3 class="item-title">Track Issued Cheques</h3>
                    <div class="item-desc">Monitor all issued cheques and track your chequebook effortlessly. The
                        Dashboard provides a comprehensive history of all cheques, including their statuses.
                    </div>
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="figure-holder"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                    <h3 class="item-title">Excellent Reports</h3>
                    <div class="item-desc">Effortlessly export comprehensive data from any entity, be it Cheque Books,
                        Banks, Bank Accounts, Payees, etc., in the form of professional PDF reports.
                    </div>
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="figure-holder"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                    <h3 class="item-title">Quick Support</h3>
                    <div class="item-desc">Swiftly address any queries, reported issues, technical concerns, or
                        suggestions through email, WhatsApp, or chat for prompt assistance.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid figures-wrapper text-center">
        <div class="container text-center">
            <div class="items-wrapper row">
                <div class="item col-sm-3 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder"> 5200 <i class="fa fa-plus" aria-hidden="true"></i></div>
                        <h3 class="item-title">Users</h3>
                    </div>
                </div>
                <div class="item col-sm-3 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder"> 215400 <i class="fa fa-plus" aria-hidden="true"></i></div>
                        <h3 class="item-title">Cheques Printed</h3>
                    </div>
                </div>
                <div class="item col-sm-3 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder"> 310 <i class="fa fa-plus" aria-hidden="true"></i></div>
                        <h3 class="item-title">Banks In-Built</h3>
                    </div>
                </div>
                <div class="item col-sm-3 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder"> 60 <i class="fa fa-plus" aria-hidden="true"></i></div>
                        <h3 class="item-title">Layouts In-Built</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="features" class="features-section">
    <div class="container text-center">
        <h2 class="section-title">Discover Features</h2>
        <p class="intro">Cheque Pay boasts a user-friendly design, coupled with the following
            exceptional features</p>
                            <hr/>
            <div class="row fearture-gallery">
                                    <div class="col-md-4 col-xs-12 text-left"><a
                                href="/static/chkpt/assets/images/Print-Cheques-in-Multiple-Languages.png"><img class="img-responsive"
                                                                                         src="/static/chkpt/assets/images/thumb/Print-Cheques-in-Multiple-Languages.png"
                                                                                         alt="Print Cheques in Multiple Languages"
                                                                                         title="Print Cheques in Multiple Languages"/></a>
                    </div>
                    <div class="col-md-8 col-xs-12 text-left">
                        <h3>Print Cheques in Multiple Languages</h3>
                                                <p>Easily print cheques in a range of languages, including English, Hindi, Gujarati, Spanish, Indonesian, and more with Cheque Pay. We're dedicated to expanding our language options, and you can also make a request for additional languages.</p>
                    </div>
                            </div>
                    <hr/>
            <div class="row fearture-gallery">
                                    <div class="col-md-8 col-xs-12 text-left">
                        <h3>Multiple Companies in Single Account</h3>
                        <p>Manage multiple companies within a single account with Cheque Pay. Effectively organize bank accounts and chequebooks on a per-company basis for streamlined financial management.</p>
                    </div>
                    <div class="col-md-4 col-xs-12 text-left"><a
                                href="/static/chkpt/assets/images/Multiple-Companies.png"><img class="img-responsive"
                                                                                         src="/static/chkpt/assets/images/thumb/Multiple-Companies.png"
                                                                                         alt="Multiple Companies in Single Account"
                                                                                         title="Multiple Companies in Single Account"/></a>
                    </div>
                            </div>
                    <hr/>
            <div class="row fearture-gallery">
                                    <div class="col-md-4 col-xs-12 text-left"><a
                                href="/static/chkpt/assets/images/Multi-Currency.png"><img class="img-responsive"
                                                                                         src="/static/chkpt/assets/images/thumb/Multi-Currency.png"
                                                                                         alt="Multi Currency"
                                                                                         title="Multi Currency"/></a>
                    </div>
                    <div class="col-md-8 col-xs-12 text-left">
                        <h3>Multi Currency</h3>
                                                <p>Cheque Pay supports nearly all world currencies. Set a default currency for amount-to-word conversion, and easily modify it directly from the header as needed.</p>
                    </div>
                            </div>
                    <hr/>
            <div class="row fearture-gallery">
                                    <div class="col-md-8 col-xs-12 text-left">
                        <h3>User Friendly Design</h3>
                        <p>Stay engaged throughout the entire process, from layout creation to final print, with Cheque Pay's instant live preview feature. Import and crop cheque images for quicker layout creation, enhancing the overall efficiency of the process.</p>
                    </div>
                    <div class="col-md-4 col-xs-12 text-left"><a
                                href="/static/chkpt/assets/images/User-Friendly-Design.png"><img class="img-responsive"
                                                                                         src="/static/chkpt/assets/images/thumb/User-Friendly-Design.png"
                                                                                         alt="User Friendly Design"
                                                                                         title="User Friendly Design"/></a>
                    </div>
                            </div>
                    <hr/>
            <div class="row fearture-gallery">
                                    <div class="col-md-4 col-xs-12 text-left"><a
                                href="/static/chkpt/assets/images/Print-Cheques.png"><img class="img-responsive"
                                                                                         src="/static/chkpt/assets/images/thumb/Print-Cheques.png"
                                                                                         alt="Typo Error Free"
                                                                                         title="Typo Error Free"/></a>
                    </div>
                    <div class="col-md-8 col-xs-12 text-left">
                        <h3>Typo Error Free</h3>
                                                <p>Benefit from Cheque Pay's Auto Amount to Word converter, multiple date formats, and A/c Payee Adjuster, which prevent common mistakes during cheque writing. This tool ensures error-free writing, eliminating smudges and avoiding overwriting for a seamless experience.</p>
                    </div>
                            </div>
                    <hr/>
            <div class="row fearture-gallery">
                                    <div class="col-md-8 col-xs-12 text-left">
                        <h3>Supports Most Printers</h3>
                        <p>Built on the principle of resource optimization, Cheque Pay allows users to utilize any existing printer in their office. It offers broad compatibility, supporting various printer types including Laser Printers, Inkjet Printers, Deskjet Printers, and All-In-One Printers.</p>
                    </div>
                    <div class="col-md-4 col-xs-12 text-left"><a
                                href="/static/chkpt/assets/images/Advanced-Settings.png"><img class="img-responsive"
                                                                                         src="/static/chkpt/assets/images/thumb/Advanced-Settings.png"
                                                                                         alt="Supports Most Printers"
                                                                                         title="Supports Most Printers"/></a>
                    </div>
                            </div>
                <br>
        
    </div>
</div>
<div id="testimonials" class="testimonials-section">
    <div class="container">
        <h2 class="section-title text-center">Many Happy Customers</h2>
        <div class="item center-block">
            <div class="profile-holder"><img class="profile-image" src="/static/chkpt/assets/images/profile-1.png"
                                             alt="profile"></div>
            <div class="quote-holder">
                <blockquote class="quote">
                    <p>Really amazing product, easy to create and re-use Cheque Layouts. Registered in 1 minute and
                        printed my first Cheque within 6 minutes. Awesome search options and reports. Very easy to use
                        and keeps showing Cheque Layout throughout whole printing steps. Loved it.</p>
                    <div class="quote-source"><span class="name">@Kaushik Gajjar,</span> <span
                                class="meta">Baroda</span></div>
                </blockquote>
            </div>
        </div>
        <div class="item item-reversed center-block">
            <div class="profile-holder"><img class="profile-image" src="/static/chkpt/assets/images/profile-2.png"
                                             alt="profile"></div>
            <div class="quote-holder">
                <blockquote class="quote">
                    <p>Now I'm purely platform independent, I can print my cheque from any machine, any place and NO
                        more installation steps. Instant support and guidance.</p>
                    <div class="quote-source"><span class="name">@Nikhil Ampte,</span> <span class="meta">Shiv Fire Safety, Mumbai</span>
                    </div>
                </blockquote>
            </div>
        </div>
        <div class="item center-block">
            <div class="profile-holder"><img class="profile-image" src="/static/chkpt/assets/images/profile-3.png"
                                             alt="profile"></div>
            <div class="quote-holder">
                <blockquote class="quote">
                    <p>Now I can keep an Eye on my Issued, Upcomming and Outdated Cheques from feature rich Dashboard
                        page. The hassle of erroneous writing can completely be avoided by this tool. No smudges and No
                        overwriting, simply Outstanding!</p>
                    <div class="quote-source"><span class="name">@Hina,</span> <span class="meta">Ahmedabad</span></div>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').scrollspy({target: '#header', offset: 100});
        $('a.scrollto').on('click', function (e) {
            //store hash
            var target = this.hash;
            e.preventDefault();
            $('body').scrollTo(target, 800, {offset: -50, 'axis': 'y'});
            if ($('.navbar-collapse').hasClass('in')) {
                $('.navbar-collapse').removeClass('in').addClass('collapse');
            }
        });
        var $gallery = $('.fearture-gallery a').simpleLightbox();
        $(window).scroll();
    });
</script>
    <div id="contact" class="contact-section">
    <div class="container text-center">
        <h2 class="section-title">Contact Us</h2>
        <div class="contact-content" id="contact">
            <p>Have questions or need some help? We would be happy to try to sort things out. Give us a shout. We should get back to you within a day or two and see what we can do.</p>
        </div>
        <a class="btn btn-cta btn-primary" target="_blank"  href="https://www.pegasustech.net/contact-us">Contact Now&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
</div>
    <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6"> <a title="Facebook" href="https://www.facebook.com/PegasusTeck" style="color:rgba(255,255,255,0.6);" target="_blank"><img src="/static/chkpt/assets/images/fb_sq.png" alt="Facebook" width="24" /></a> | <a title="Instagram" href="https://www.instagram.com/pegasus_tech/" style="color:rgba(255,255,255,0.6);" target="_blank"><img src="/static/chkpt/assets/images/instagram.png" alt="Instagram" width="24" /></a>| <a title="Linkedin" href="https://www.linkedin.com/in/pegasustech/" style="color:rgba(255,255,255,0.6);" target="_blank"><img src="/static/chkpt/assets/images/linkedin.png" alt="Linkedin" width="24" /></a> </div>
      <div class="col-xs-6 text-right"> <small class="copyright">Copyright <i class="fa fa-copyright"></i> 2025 <a href="https://www.pegasustech.net/">Pegasus Turnkey Solution Private Limited</a> </small> </div>
    </div>
  </div>
</footer>
</div>
<script src="/static/chkpt/assets/js/bootstrap.min53bc.js?v=1.3.16" type="text/javascript" ></script>
        <script src="/static/chkpt/assets/js/jquery.modernizr53bc.js?v=1.3.16" type="text/javascript" ></script>
            <script src="/static/chkpt/assets/js/cslider53bc.js?v=1.3.16" type="text/javascript" ></script>
            <script src="/static/chkpt/assets/js/jquery.scrollTo.min53bc.js?v=1.3.16" type="text/javascript" ></script>
            <script src="/static/chkpt/assets/js/simplelightbox/simplelightbox.min53bc.js?v=1.3.16" type="text/javascript" ></script>
    <div style="height:50px"></div>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5a3e3226f4461b0b4ef8a561/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script--></body>

</html>