{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% block tiitle %}Profile{% endblock tiitle %}
{% block stylesheet %}{% endblock stylesheet %}
{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 450px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-primary opacity-8"></span>
  <div class="container d-flex align-items-center">
    <div class="row">
      <div class="col-md-8">
        <h1 class="text-white">Welcome, {{ request.user.username }}</h1>
        <p class="text-white mt-2">Manage your profile details and view your account information here.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body text-center">
          
          <div class="profile-picture mb-3">
            <!-- Display the profile image -->
            <img id="profile-picture"  src="{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% else %}{% static "tabler/user_image.jpg" %}{% endif %}" alt="Profile Picture" 
                 class="rounded-circle img-fluid" style="width: 150px; height: 150px; cursor: pointer;" 
                 onclick="document.getElementById('profile-picture-input').click();">
            <!-- Hidden input to change the profile picture -->
            <input type="file" form="profile_form" name = "profile_picture" id="profile-picture-input" style="display: none;" onchange="updateProfilePicture(event)">
          </div>
          
          <h5 class="h3">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
          <p class="text-muted">{{ request.user.privilege_role }}</p>
          <p><i class="ni education_hat mr-2"></i>User since {{ request.user.date_joined|date:"F Y" }}</p>
        </div>
      </div>
    </div>

    <!-- for profile picture -->
    <script>
      // Function to handle profile picture update and display the new image
      function updateProfilePicture(event) {
        var reader = new FileReader();
        reader.onload = function () {
          var profileImage = document.getElementById('profile-picture');
          profileImage.src = reader.result; // Update the profile picture to the selected image
        };
        reader.readAsDataURL(event.target.files[0]); // Read the file as a data URL
      }
    </script>
    <!-- for profile picture -->

    <div class="col-xl-8">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Profile Information</h3>
        </div>
        <div class="card-body">
          <form method="post" id="profile_form" enctype="multipart/form-data">
            {% csrf_token %}

            <h6 class="heading-small text-muted">Personal Details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="input-username">Username</label>
                    <input type="text" id="input-username" name="username" class="form-control" value="{{ request.user.username }}" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="input-email">Email</label>
                    <input type="email" id="input-email" name="email" class="form-control" value="{{ request.user.email }}">
                  </div>
                </div>
              </div>
            </div>

            <div class="pl-lg-4 mt-3">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="input-username">First Name</label>
                    <input type="text" id="input-fname" name="first_name" class="form-control" value="{{ request.user.first_name }}" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="input-email">Last Name</label>
                    <input type="text" id="input-lname" name="last_name" class="form-control" value="{{ request.user.last_name }}">
                  </div>
                </div>
              </div>
            </div>

            <div class="pl-lg-4 mt-3">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="input-password">Password</label>
                    <input type="password" id="input-pasword" name="password" class="form-control" value="{{ request.user.password }}" >
                  </div>
                </div>
               
              </div>
            </div>

            

            <div class="text-right mt-3 ">
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
