{% extends 'layouts/base.html' %}
{% block tiitle %}Profile{% endblock tiitle %}
{% block stylesheet %}{% endblock stylesheet %}
{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 450px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-primary opacity-8"></span>
  <div class="container d-flex align-items-center">
    <div class="row">
      <div class="col-md-8">
        <h1 class="text-white">Welcome, {{ request.user.username }}</h1>
        <p class="text-white mt-2">Manage your profile details and view your account information here.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body text-center">
          <div class="profile-picture mb-3">
            <img src="{{ request.user.profile_picture.url }}" alt="Profile Picture" class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
          </div>
          <h5 class="h3">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
          <p class="text-muted">{{ request.user.privilege_role }}</p>
          <p><i class="ni education_hat mr-2"></i>User since {{ request.user.date_joined|date:"F Y" }}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Profile Information</h3>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <h6 class="heading-small text-muted">Personal Details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="input-username">Username</label>
                    <input type="text" id="input-username" name="username" class="form-control" value="{{ request.user.username }}" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="input-email">Email</label>
                    <input type="email" id="input-email" name="email" class="form-control" value="{{ request.user.email }}">
                  </div>
                </div>
              </div>
            </div>

            <h6 class="heading-small text-muted mt-4">Contact Information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="input-address">Address</label>
                    <input type="text" id="input-address" name="address" class="form-control" placeholder="Home Address" value="{{ user_profile.address }}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mt-3">
                    <label for="input-city">City</label>
                    <input type="text" id="input-city" name="city" class="form-control" placeholder="City" value="{{ user_profile.city }}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mt-3">
                    <label for="input-country">Country</label>
                    <input type="text" id="input-country" name="country" class="form-control" placeholder="Country" value="{{ user_profile.country }}">
                  </div>
                </div>
              </div>
            </div>

            <h6 class="heading-small text-muted mt-3">About Me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <textarea rows="4" name="about" class="form-control" placeholder="Tell us a little about yourself">{{ user_profile.about }}</textarea>
              </div>
            </div>

            <div class="text-right mt-3 ">
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
