{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% block tiitle %}{% trans "Companies" %}{% endblock tiitle %}
{% block content %}


<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            {% trans "Companies" %}
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
             <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#addCompanyModal">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                {% trans "Create new Company" %}
              </a>
              <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#addCompanyModal" aria-label="addCompanyModalLabel">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">{% trans "Company List" %}</h3>
            </div>
           <div class="table-responsive" >
              <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                  <tr>
                    <th></th>
                    <th>{% trans "Company" %}</th>
                    <th>{% trans "Phone" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Taxation ID" %}</th>
                    <th>{% trans "Address" %}</th>
                  </tr>
                </thead>
                <tbody>
                    {% if companies %}
                            {% for company in companies %}
                  <tr>
                    <td class="text-start">
                      
                      <div class="dropdown dropend">
                      <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                        {% trans "Actions" %}
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-bs-toggle="modal"  
                        data-bs-target="#editCompanyModal" 
                        data-id="{{ company.id }}" 
                        data-name="{{ company.company_name }}" 
                        data-phone="{{ company.tel_no }}"
                        data-email="{{ company.email }}"
                        data-tax-id="{{ company.tax_id }}"
                        data-address="{{ company.address }}"
                        {% if company.logo %}data-logo="{{ company.logo.url }}"{% endif %}  >
                          {% trans "Edit Company" %}
                        </a>
                        <a class="dropdown-item" onclick="return confirm('Are you sure you want to delete {{ company.company_name }}?')" 
                        href="{% url "delete_company" company.id %}">
                          {% trans "Delete Company" %}
                        </a>
                      </div>
                    </div>


                  </td>
                    <td>
                        <div class="d-flex py-1 align-items-center">
                            <span class="avatar me-2" style="background-image: {% if company.logo %}url({{company.logo.url}}){% else %}url( {% static "tabler/default_company.png" %} ){% endif %} "></span>
                            <div class="flex-fill">
                              <div class="font-weight-medium">{{company.company_name}}</div>
                              </div>
                          </div>
                    </td>
                    <td>{{ company.tel_no }}</td>
                    <td>{{ company.email }}</td>
                    <td>{% if company.tax_id %}{{ company.tax_id }}{% endif %}</td>
                    <td>{{ company.address }}</td>
                  </tr>
                  {% endfor %}
          {% else %}
          <tr>
              <td colspan="4" class="text-center">{% trans "No" %} {% trans "Companies" %} {% trans "found" %}</td>
          </tr>
          {% endif %}
                </tbody>
              </table>
            </div>
            <!-- pagination -->
            <div class="card-footer d-flex align-items-center">
              <p class="m-0 text-secondary">
                {% trans "Showing" %} <span>{{ companies.start_index }}</span> {% trans "to" %} <span>{{ companies.end_index }}</span> {% trans "of" %} <span>{{ companies.paginator.count }}</span> {% trans "entries" %}
              </p>
              <ul class="pagination m-0 ms-auto">
                {% if companies.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1{% if searched %}&searched={{ searched }}{% endif %}{% if company %}&company={{ company }}{% endif %}{% if emp_loc %}&emp_loc={{ emp_loc|join:"," }}{% endif %}{% if emp_department %}&emp_department={{ emp_department|join:"," }}{% endif %}" tabindex="-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M17 6l-6 6l6 6" />
                      <path d="M11 6l-6 6l6 6" />
                    </svg>
                    {% trans "First" %}
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ companies.previous_page_number }}{% if searched %}&searched={{ searched }}{% endif %}{% if company %}&company={{ company }}{% endif %}{% if emp_loc %}&emp_loc={{ emp_loc|join:"," }}{% endif %}{% if emp_department %}&emp_department={{ emp_department|join:"," }}{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M15 6l-6 6l6 6" />
                    </svg>
                    
                  </a>
                </li>
                {% endif %}

                {% for i in companies.paginator.page_range %}
                {% if companies.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% elif i > companies.number|add:'-3' and i < companies.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if searched %}&searched={{ searched }}{% endif %}{% if company %}&company={{ company }}{% endif %}{% if emp_loc %}&emp_loc={{ emp_loc|join:"," }}{% endif %}{% if emp_department %}&emp_department={{ emp_department|join:"," }}{% endif %}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if companies.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ companies.next_page_number }}{% if searched %}&searched={{ searched }}{% endif %}{% if company %}&company={{ company }}{% endif %}{% if emp_loc %}&emp_loc={{ emp_loc|join:"," }}{% endif %}{% if emp_department %}&emp_department={{ emp_department|join:"," }}{% endif %}">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 6l6 6l-6 6" />
                    </svg>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ companies.paginator.num_pages }}{% if searched %}&searched={{ searched }}{% endif %}{% if company %}&company={{ company }}{% endif %}{% if emp_loc %}&emp_loc={{ emp_loc|join:"," }}{% endif %}{% if emp_department %}&emp_department={{ emp_department|join:"," }}{% endif %}">
                    {% trans "Last" %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M7 6l6 6l-6 6" />
                      <path d="M13 6l6 6l-6 6" /> <!-- Second chevron -->
                    </svg>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
            <!-- pagination -->
          </div>
      </div>
    </div>





<!--add new Company Modal -->
<div class="modal modal-blur fade" id="addCompanyModal" tabindex="-1" role="dialog" aria-labelledby="addCompanyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCompanyModalLabel">{% trans "Add" %} {% trans "New" %} {% trans "Company" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
          <form id="addCompanyForm" method="POST" action="{% url 'add_company' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="company_name" class="form-label">{% trans "Company" %} {% trans "Name" %}</label>
                <input type="text" class="form-control" id="company_name" name="company_name" required>
            </div>
            
            <div class="form-group mb-2">
                <label for="company_tel_no" class="form-label">{% trans "Company" %} {% trans "Phone" %}</label>
                <input type="text" class="form-control" id="company_tel_no" name="company_tel_no" required>
            </div>

            <div class="form-group mb-2">
              <label for="company_email" class="form-label">{% trans "Company" %} {% trans "Email" %}</label>
              <input type="email" class="form-control" id="company_email" name="company_email" required>
            </div>

            <div class="form-group mb-2">
              <label for="company_tax_id" class="form-label">{% trans "Company" %} {% trans "Tax Id" %}</label>
              <input type="text" class="form-control" id="company_tax_id" name="company_tax_id" >
            </div>

            <div class="form-group mb-2">
                <label for="company_address" class="form-label">{% trans "Company" %} {% trans "Address" %}</label>
                <textarea name="company_address" id="company_address" class="form-control"  required></textarea>
            </div>

            <div class="form-group mb-2">
              <label for="company_logo" class="form-label">{% trans "Company" %} {% trans "Logo" %}</label>
              <input type="file"  id="company_logo" name="company_logo" class="form-control-file" style="max-width: 400px; width: 100%;" required accept="image/*" onchange="addlogoImage(event)">
            <!-- Image Preview -->
            <div id="logo-preview" class="mt-3">
              <img id="logo-image" src="" alt="LOGO" style="display: none; max-width: 100%; height: auto; border: 1px solid #ddd; padding: 5px;">
            </div>
          </div>
          
          <!-- image script -->
          <script>
            function addlogoImage(event) {
                const input = event.target;
                const preview = document.getElementById('logo-image');
                
                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block'; // Show the image
                    };
                    
                    reader.readAsDataURL(input.files[0]); // Read the image file as a data URL
                }
            }
            </script>
            <!-- image script -->
            
            <div class="modal-footer mb-2">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">{% trans "Close" %}</button>
            <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
            </div>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!--edit Company Modal -->
  <div class="modal modal-blur fade" id="editCompanyModal" tabindex="-1" role="dialog" aria-labelledby="editCompanyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editCompanyModalLabel">Edit Currency</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
          <form id="editCompanyForm" method="POST" action="{% url 'edit_company' %}">
            {% csrf_token %}
            <input type="hidden" id="edit_company_id" name="company_id">
            <div class="form-group mb-2">
              <label for="company_name" class="form-label">{% trans "Company" %} {% trans "Name" %}</label>
              <input type="text" class="form-control" id="edit_company_name" name="company_name" required>
          </div>
          
          <div class="form-group mb-2">
              <label for="company_tel_no" class="form-label">{% trans "Company" %} {% trans "Phone" %}</label>
              <input type="text" class="form-control" id="edit_company_tel_no" name="company_tel_no" required>
          </div>

          <div class="form-group mb-2">
            <label for="company_email" class="form-label">{% trans "Company" %} {% trans "Email" %}</label>
            <input type="text" class="form-control" id="edit_company_email" name="company_email" required>
          </div>

          <div class="form-group mb-2">
            <label for="company_tax_id" class="form-label">{% trans "Company" %} {% trans "Tax Id" %}</label>
            <input type="text" class="form-control" id="edit_company_tax_id" name="company_tax_id" >
          </div>

          <div class="form-group mb-2">
              <label for="company_address" class="form-label">{% trans "Company" %} {% trans "Address" %}</label>
              <textarea name="company_address" id="edit_company_address" class="form-control"  required></textarea>
          </div>

          <div class="form-group mb-2">
            <label for="company_logo" class="form-label">{% trans "Company" %} {% trans "Logo" %}</label>
            <input type="file"  id="edit_company_logo" name="company_logo" class="form-control-file" style="max-width: 400px; width: 100%;" required accept="image/*" onchange="editlogoImage(event)">
          <!-- Image Preview -->
          <div id="logo-preview" class="mt-3">
            <img id="edit-logo-image" src="" alt="LOGO" style="display: none; max-width: 100%; height: auto; border: 1px solid #ddd; padding: 5px;">
          </div>
        </div>
        
        <!-- image script -->
        <script>
          function editlogoImage(event) {
              const input = event.target;
              const preview = document.getElementById('edit-logo-image');
              
              if (input.files && input.files[0]) {
                  const reader = new FileReader();
                  
                  reader.onload = function (e) {
                      preview.src = e.target.result;
                      preview.style.display = 'block'; // Show the image
                  };
                  
                  reader.readAsDataURL(input.files[0]); // Read the image file as a data URL
              }
          }
          </script>
          <!-- image script -->
            <div class="modal-footer">
              <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  
  <!--edit Company Modal -->

{% endblock content %}


{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    // Populate Edit Modal
    $('#editCompanyModal').on('show.bs.modal', function (event) {
      const button = $(event.relatedTarget);
      const id = button.data('id');
      const companyName = button.data('name');
      const companyPhone = button.data('phone');
      const companyEmail = button.data('email');
      const companyTaxId = button.data('tax-id');
      const companyAddress = button.data('address');
      const companyLogo = button.data('logo');
  
      const modal = $(this);
      modal.find('#edit_company_id').val(id);
      modal.find('#edit_company_name').val(companyName);
      modal.find('#edit_company_tel_no').val(companyPhone);
      modal.find('#edit_company_email').val(companyEmail);
      modal.find('#edit_company_tax_id').val(companyTaxId);
      modal.find('#edit_company_address').val(companyAddress);
  
      // Handle logo preview
      const logoPreview = modal.find('#edit-logo-image');
      if (companyLogo) {
          logoPreview.attr('src', companyLogo).show();
      } else {
          logoPreview.hide();
      }
  });
  

    // Handle Edit Company Form Submission
    document.getElementById('editCompanyForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);

        fetch("{% url 'edit_company' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Hide the modal on success
                $('#editCompanyModal').modal('hide');
                
                // Reload the page to reflect changes
                location.reload();
            } else {
                 // Reload the page to reflect changes
                 location.reload();
            }
        })
        .catch(error => console.error("Error:", error));
    });

    // Handle Add Company Form Submission
    document.getElementById('addCompanyForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);

        fetch("{% url 'add_company' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                $('#addCompanyModal').modal('hide');
                location.reload();
            } else {
                location.reload();
            }
        })
        .catch(error => console.error("Error:", error));
    });

  
</script>


    
{% endblock scripts %}