<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    {% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your account.

Click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This reset is linked to the company database: {{ database }}

If you didn't request this, please ignore this email.

Thank you,  
The ChequePay Team
{% endautoescape %}

</body>
</html>