{% extends 'layouts/base.html' %}
{% block tiitle %}Payees{% endblock tiitle %}
{% block content %}


<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            Payees
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
             <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#addPayeeModal">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                Create new Payee
              </a>
              <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#addPayeeModal" aria-label="addPayeeModalLabel">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Payee List</h3>
            </div>
           <div class="table-responsive" >
              <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                  <tr>
                    <th>Payee Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    {% if payees %}
                        {% for payee in payees %}
                  <tr>
                    <td>{{ payee.payee_name }}</td>
                    <td>{{ payee.mobile_no }}</td>
                    <td>{{ payee.email }}</td>
                    <td class="text-end">
                      
                        <div class="dropdown">
                        <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                          Actions
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="#" data-bs-toggle="modal"  
                          data-bs-target="#editPayeeModal" 
                          data-id="{{ payee.id }}" 
                          data-payee-name="{{ payee.payee_name }}" 
                          data-mobile-no="{{ payee.mobile_no }}" 
                          data-email="{{ payee.email }}">
                            Edit Payee
                          </a>
                          <a class="dropdown-item" onclick="return confirm('Are you sure you want to delete {{ payee.payee_name }}?')" 
                          href="{% url 'delete_payee' payee.id %}">
                            Delete Payee
                          </a>
                        </div>
                      </div>


                    </td>
                  </tr>
                  {% endfor %}
          {% else %}
          <tr>
              <td colspan="4" class="text-center">No Payees found.</td>
          </tr>
          {% endif %}
                </tbody>
              </table>
            </div>
            <div class="card-footer d-flex align-items-center">
              <p class="m-0 text-secondary">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>
              <ul class="pagination m-0 ms-auto">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                    prev
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>





<!--add new Payee Modal -->
<div class="modal modal-blur fade" id="addPayeeModal" tabindex="-1" role="dialog" aria-labelledby="addPayeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPayeeModalLabel">Add New Payee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
          <form id="addPayeeForm" method="POST" action="{% url 'add_payee' %}">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="payee_name" class="form-label">Payee Name</label>
                <input type="text" class="form-control" id="payee_name" name="payee_name" required>
            </div>
            <div class="form-group mb-2">
                <label for="payee_mobile_no" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="payee_mobile_no" name="payee_mobile_no" required>
            </div>
            <div class="form-group mb-2">
                <label for="payee_email" class="form-label">Email</label>
                <input type="email" class="form-control" id="payee_email" name="payee_email">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!--edit Payee Modal -->
  <div class="modal modal-blur fade" id="editPayeeModal" tabindex="-1" role="dialog" aria-labelledby="editPayeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPayeeModalLabel">Edit Payee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
          <form id="editPayeeForm" method="POST" action="{% url 'edit_payee' %}">
            {% csrf_token %}
            <input type="hidden" id="edit_payee_id" name="payee_id">
            <div class="form-group mb-2">
                <label for="edit_payee_name" class="form-label">Payee Name</label>
                <input type="text" class="form-control" id="edit_payee_name" name="payee_name" required>
            </div>
            <div class="form-group mb-2">
                <label for="edit_payee_mobile_no" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="edit_payee_mobile_no" name="payee_mobile_no" required>
            </div>
            <div class="form-group mb-2">
                <label for="edit_payee_email" class="form-label">Email</label>
                <input type="email" class="form-control" id="edit_payee_email" name="payee_email" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  
  <!--edit Payee Modal -->

{% endblock content %}


{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    // Populate Edit Modal
    $('#editPayeeModal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const id = button.data('id');
        const payeeName = button.data('payee-name');
        const mobileNo = button.data('mobile-no');
        const email = button.data('email');

        const modal = $(this);
        modal.find('#edit_payee_id').val(id);
        modal.find('#edit_payee_name').val(payeeName);
        modal.find('#edit_payee_mobile_no').val(mobileNo);
        modal.find('#edit_payee_email').val(email);
    });

    // Handle Edit Payee Form Submission
    document.getElementById('editPayeeForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);

        fetch("{% url 'edit_payee' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Hide the modal on success
                $('#editPayeeModal').modal('hide');
                
                // Reload the page to reflect changes
                location.reload();
            } else {
                 // Reload the page to reflect changes
                 location.reload();
            }
        })
        .catch(error => console.error("Error:", error));
    });

    // Handle Add Payee Form Submission
    document.getElementById('addPayeeForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);

        fetch("{% url 'add_payee' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                $('#addPayeeModal').modal('hide');
                location.reload();
            } else {
                location.reload();
            }
        })
        .catch(error => console.error("Error:", error));
    });

  
</script>


    
{% endblock scripts %}





