{% extends 'layouts/base.html' %}
{% load i18n %} #internationalization
{% load l10n %} #Localization
{% load static %}
{% block tiitle %}{% trans "Template Details" %}{% endblock tiitle %}


{% block content %}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            {% trans "Template Details" %}
          </h2>
        </div>
        <!-- Page title actions -->
      </div>
    </div>
  </div>
  <!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">{% trans "Template Name" %} - {{ template.name }} </h3>
            </div>
            <div class="card-body">


              <div class = "mb-4">
                <a onclick="if (confirm('{% trans "Are you sure? Want to reset the text positions?" %}')) {return true;} else {event.stopPropagation(); event.preventDefault();};" href="{% url 'reset_text' template.id %}" class="btn btn-warning">{% trans "Reset" %}</a>
                <a href="{% url 'add_text_to_template' template.id %}" class="btn btn-primary">{% trans "Set Text Positions" %}</a>
                <a href="{% url "template_list" %}" class="btn btn-danger">{% trans "Cancel" %}</a>
                </div><br> 
             
             
              <div style="position: relative; display: inline-block; background-image: url('{{ template.background_image.url }}'); background-size: contain; background-repeat: no-repeat; width: {{ template.width|unlocalize }}mm; height: {{ template.height|unlocalize }}mm;">

                  
                  <!-- Render each text on the cheque at its specific position -->
          
                  {% for texts in chq_txts  %}
                  
                  <div class = "text-primary" style="position: absolute;{% if texts.date_x_position is not None and texts.date_y_position is not None %} left: {{ texts.date_x_position|unlocalize }}mm; top: {{ texts.date_y_position|unlocalize }}mm;  font-family: {{ texts.date_font|unlocalize }}; font-size: {{ texts.date_size|unlocalize }}px; {% if texts.date_bold %}font-weight: bold{% endif %}; {% if texts.date_italic %}font-style: italic{% endif %}; {% else %}display: none;{% endif %}">
                    <span style="display: inline-block; width: 4mm;">{% trans "D" %}</span>
                    <span style="display: inline-block; width: 4mm;">{% trans "D" %}</span>
                    <span style="display: inline-block; width: 4mm;">{% trans "M" %}</span>
                    <span style="display: inline-block; width: 4mm;">{% trans "M" %}</span>
                    <span style="display: inline-block; width: 4mm;">{% trans "Y" %}</span>
                    <span style="display: inline-block; width: 4mm;">{% trans "Y" %}</span>
                    <span style="display: inline-block; width: 4mm;">{% trans "Y" %}</span>
                    <span style="display: inline-block; width: 4mm;">{% trans "Y" %}</span>
                  </div>
                  <div class = "text-primary" style="position: absolute;{% if texts.payee_x_position is not None and texts.payee_y_position is not None %}left: {{ texts.payee_x_position|unlocalize }}mm; top: {{ texts.payee_y_position|unlocalize }}mm; font-family: {{ texts.payee_font|unlocalize }}; font-size: {{ texts.payee_size|unlocalize }}px; {% if texts.payee_bold %}font-weight: bold{% endif %}; {% if text.payee_bold %}font-style: italic{% endif %}; {% else %}display: none;{% endif %}">
                    {% trans "Payee" %}
                  </div>
                  <div class = "text-primary" style="position: absolute;{% if texts.amtwrds_x_position is not None and texts.amtwrds_y_position is not None %} left: {{ texts.amtwrds_x_position|unlocalize }}mm; top: {{ texts.amtwrds_y_position|unlocalize }}mm; font-family: {{ texts.amtwrds_font|unlocalize }}; font-size: {{ texts.amtwrds_size|unlocalize }}px; {% if texts.amtwrds_bold %}font-weight: bold{% endif %}; {% if texts.amtwrds_italic %}font-style: italic{% endif %}; {% else %}display: none;{% endif %}">
                    {% trans "Amount In Words" %}
                  </div>
                  <div class = "text-primary" style="position: absolute;{% if texts.amtnum_x_position is not None and texts.amtnum_y_position is not None %}left: {{ texts.amtnum_x_position|unlocalize }}mm; top: {{ texts.amtnum_y_position|unlocalize }}mm; font-family: {{ texts.amtnum_font|unlocalize }}; font-size: {{ texts.amtnum_size|unlocalize }}px; {% if texts.amtnum_bold %}font-weight: bold{% endif %}; {% if texts.amtnum_italic %}font-style: italic{% endif %}; {% else %}display: none;{% endif %}">
                    {% trans "Amount" %}
                  </div>
                  <div class = "text-primary" style="position: absolute;{% if texts.sign_x_position is not None and texts.sign_y_position is not None %} left: {{ texts.sign_x_position|unlocalize }}mm; top: {{ texts.sign_y_position|unlocalize }}mm; {% else %}display: none;{% endif %}">
                    {% trans "Signature" %}
                  </div>
          
                  {% endfor %}
                  
              </div>
              
              
              
              <h2 class="text-secondary">{% trans "Text Positions" %}</h2>
              <!-- Light table -->
              <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" class="sort" >{% trans "Attributes" %}</th>
                        {% comment %} <th scope="col" class="sort" >{% trans "Position" %}</th> {% endcomment %}
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    
                    <tbody class="list">
          
                      {% if chq_txts %}
                      {% for texts in chq_txts  %}
                     
                      {% if texts.date_x_position is not None and texts.date_y_position is not None %}
                      <tr>
                          <td class="budget">
                            {% trans "Date" %}
                            </td>
                        
                            {% comment %} <td class="budget">
                          X: {{ texts.date_x_position|unlocalize }}mm, Y: {{ texts.date_y_position|unlocalize }}mm
                        </td> {% endcomment %}
                        
                        <td class="budget">
                          <a href="{% url "delete_text" texts.id texts.template.id%}?text_atrrb=Date" class="btn btn-danger">{% trans "Delete text" %}</a>
                        </td>

                      </tr>
                      {% endif %}
                      
                      {% if texts.payee_x_position is not None and texts.payee_y_position is not None %}
                      <tr>
                        <td class="budget">
                          {% trans "Payee" %}
                          </td>
                      {% comment %} <td class="budget">
                        X: {{ texts.payee_x_position|unlocalize }}mm, Y: {{ texts.payee_y_position|unlocalize }}mm
                      </td> {% endcomment %}
                      
                      <td class="budget">
                        <a href="{% url "delete_text" texts.id texts.template.id%}?text_atrrb=Payee" class="btn btn-danger">{% trans "Delete text" %}</a>
                      </td>
                    </tr>
                    {% endif %}

                    {% if texts.amtwrds_x_position is not None and texts.amtwrds_y_position is not None %}
                    <tr>
                      <td class="budget">
                        {% trans "Amount In Words" %}
                        </td>
                    
                        {% comment %} <td class="budget">
                      X: {{ texts.amtwrds_x_position|unlocalize }}mm, Y: {{ texts.amtwrds_y_position|unlocalize }}mm
                    </td> {% endcomment %}
                    
                    <td class="budget">
                      <a href="{% url "delete_text" texts.id texts.template.id%}?text_atrrb=Amt_Wrds" class="btn btn-danger">{% trans "Delete text" %}</a>
                    </td>
                  </tr>
                  {% endif %}

                  {% if texts.amtnum_x_position is not None and texts.amtnum_y_position is not None %}
                  <tr>
                    <td class="budget">
                      {% trans "Amount in Numbers" %}
                      </td>
                  
                      {% comment %} <td class="budget">
                    X: {{ texts.amtnum_x_position|unlocalize }}mm, Y: {{ texts.amtnum_y_position|unlocalize }}mm
                  </td> {% endcomment %}
                  
                  <td class="budget">
                    <a href="{% url "delete_text" texts.id texts.template.id%}?text_atrrb=Amt_Num" class="btn btn-danger">{% trans "Delete text" %}</a>
                  </td>
                </tr>
                {% endif %}

                {% if texts.sign_x_position is not None and texts.sign_y_position is not None %}
                <tr>
                  <td class="budget">
                    {% trans "Signature" %}
                    </td>
                
                    {% comment %} <td class="budget">
                  X: {{ texts.sign_x_position|unlocalize}}mm, Y: {{ texts.sign_y_position|unlocalize }}mm
                </td> {% endcomment %}
                
                <td class="budget">
                  <a href="{% url "delete_text" texts.id texts.template.id%}?text_atrrb=Sign" class="btn btn-danger">{% trans "Delete text" %}</a>
                </td>
              </tr>
              {% endif %}
              
              {% endfor %}
          
              {% else %}
              <tr>
                <td colspan="4" class="text-center">{% trans "No Text Attributes found." %}</td>
            </tr>
              
          
              {% endif %}
                    </tbody>
                    
                  </table>
                </div>
                <!-- table-->
          
          
          
              </div>
              <!-- card-body -->
           
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}

{% endblock scripts %}