{% extends 'layouts/base.html' %}
{% block tiitle %}Template Details{% endblock tiitle %}


{% block content %}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            Template Details
          </h2>
        </div>
        <!-- Page title actions -->
      </div>
    </div>
  </div>
  <!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Template Name - {{ template.name }} </h3>
            </div>
            <div class="card-body">
          
                <div style="position: relative; display: inline-block;">
                  <img src="{{ template.background_image.url }}" style="width: {{ template.width }}mm; height: {{ template.height }}mm;">
                    
                  <!-- Render each text on the cheque at its specific position -->
          
                  {% for texts in chq_txts  %}
                  
                  <div class = "text-primary" style="position: absolute; left: {{ texts.date_x_position }}mm; top: {{ texts.date_y_position }}mm; ">
                    <span style="display: inline-block; width: 4mm;">D</span>
                    <span style="display: inline-block; width: 4mm;">D</span>
                    <span style="display: inline-block; width: 4mm;">M</span>
                    <span style="display: inline-block; width: 4mm;">M</span>
                    <span style="display: inline-block; width: 4mm;">Y</span>
                    <span style="display: inline-block; width: 4mm;">Y</span>
                    <span style="display: inline-block; width: 4mm;">Y</span>
                    <span style="display: inline-block; width: 4mm;">Y</span>
                  </div>
                  <div class = "text-primary" style="position: absolute; left: {{ texts.payee_x_position }}mm; top: {{ texts.payee_y_position }}mm;">
                    Payee
                  </div>
                  <div class = "text-primary" style="position: absolute; left: {{ texts.amtwrds_x_position }}mm; top: {{ texts.amtwrds_y_position }}mm;">
                    Amount In Words
                  </div>
                  <div class = "text-primary" style="position: absolute; left: {{ texts.amtnum_x_position }}mm; top: {{ texts.amtnum_y_position }}mm;">
                    Amount
                  </div>
                  <div class = "text-primary" style="position: absolute; left: {{ texts.sign_x_position }}mm; top: {{ texts.sign_y_position }}mm; ">
                    Signature
                  </div>
          
                  {% endfor %}
                  
              </div>
              
              
              <div class = "mt-4">
              <a href="{% url 'add_text_to_template' template.id %}" class="btn btn-primary">Set Text Positions</a>
              </div><br> 
              <h2 class="text-primary">Text Positions</h2>
              <!-- Light table -->
              <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" class="sort" >Attributes</th>
                        <th scope="col" class="sort" >Position</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    
                    <tbody class="list">
          
                      {% if chq_txts %}
                      {% for texts in chq_txts  %}
                     
                      <tr>
                          <td class="budget">
                            Date
                            </td>
                        <td class="budget">
                          X: {{ texts.date_x_position }}mm, Y: {{ texts.date_y_position }}mm
                        </td>
                        
                      </tr>
                      <tr>
                        <td class="budget">
                          Payee
                          </td>
                      <td class="budget">
                        X: {{ texts.payee_x_position }}mm, Y: {{ texts.payee_y_position }}mm
                      </td>
                      
                    </tr>
                    <tr>
                      <td class="budget">
                        Amount In Words
                        </td>
                    <td class="budget">
                      X: {{ texts.amtwrds_x_position }}mm, Y: {{ texts.amtwrds_y_position }}mm
                    </td>
                    
                  </tr>
                  <tr>
                    <td class="budget">
                      Amount in Numbers
                      </td>
                  <td class="budget">
                    X: {{ texts.amtnum_x_position }}mm, Y: {{ texts.amtnum_y_position }}mm
                  </td>
                 
                </tr>
                <tr>
                  <td class="budget">
                    Signature
                    </td>
                <td class="budget">
                  X: {{ texts.sign_x_position }}mm, Y: {{ texts.sign_y_position }}mm
                </td>
                
              </tr>
              
              {% endfor %}
          
              {% else %}
              <tr>
                <td colspan="4" class="text-center">No Text Attributes found.</td>
            </tr>
              
          
              {% endif %}
                    </tbody>
                    
                  </table>
                </div>
                <!-- table-->
          
          
          
              </div>
              <!-- card-body -->
           
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}

{% endblock scripts %}